@import url('home.css');
@import url('login.css');
@import url('users.css');
@import url('products.css');
@import url('usersDetail.css');
@import url('productsDetail.css');
@import url('globals.css');
@import url('cart.css');
@import url('searchbar.css');
@import url('colors.css');


.header--routes {
  position: fixed;
  top: 1%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  z-index: 1001;
}

.hide {
  display: none;
}

.cart-icon svg {
  background-color: #f20179;
  color: white;
  border-radius: 8px;
}

@media screen and (max-width: 845px) {
  .header--routes {
    position: fixed;
    top: 90%;
    left: 8.7%;
    background-color: rgba(255, 255, 255, 0.838);
    border-radius: 3px;
    display: flex;
    width: 320px;
    height: 50px;
    justify-content: center;
    align-items: center;
    transform: none;
    z-index: 5;
    border: 0.5px black solid;
  }

  .cart-icon {
    position: fixed;
    top: 10px;
    left: 320px;
  }
}