@import url('home.css');
@import url('login.css');
@import url('users.css');
@import url('products.css');
@import url('usersDetail.css');
@import url('productsDetail.css');

.header--routes {
  position: fixed;
  top: 0%;
  left: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}