.cart--quantity {
    display: flex;
    align-items: center;
    align-self: center;
    color: black;
}

.cart--quantity button {
    margin-left: 5px;
    padding: 3px 7px;
    border: none;
    border-radius: 5px;
    background-color: #f20179;
    color: white;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cart--remove {
    margin-top: 10px;
    padding: 5px 10px;
    margin-left: 4.9%;
    width: 90%;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #f20179;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cart--clear {
    padding: 7px 10px;
    margin-top: 13%;
    width: 90%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #f20179;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cart--buy {
    padding: 7px 10px;
    margin-top: 13%;
    width: 90%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    background-color: #f20179;
    color: white;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 800px) {
    .cart-wrapper {
        width: 35%;
    }

    .cart-container {
        width: 90%;
        height: 90%;
    }


    .cart--quantity {
        width: 100%;
    }

    .cart--quantity button {
        width: 80%;
        padding: 5px 5px 5px 5px;
    }

    .cart--remove {
        width: 80%;
    }

    .cart--buy {
        width: 80%;
    }
}