.filters {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    font-weight: 700;
    margin-left: 4.5%;
}

.filters>div {
    display: flex;
    gap: 1rem;
}