.login--container {
    width: 100%;
    height: 1200px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    /* background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2); */

    /* background: linear-gradient(270deg, #170303, #c91505, #b1aaad); */
}

.login--header {
    position: fixed;
    top: -230px;
    color: white;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 280px;
    width: 74%;
    height: 44%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3%;
    font-size: 120px;

}

.login-form {
    /* position: relative; */
    margin-top: 23%;
    width: 30%;
    height: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--secondary-color);
    /* background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color)); */
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: rgba(92, 92, 92, 0.4) 0px 2px 4px, rgba(100, 100, 100, 0.3) 0px 7px 13px -3px, rgba(81, 81, 81, 0.2) 0px -3px 0px inset;
}

.input {
    padding: 10px;
    margin-top: 4%;
    border-radius: 5px;
    background-color: var(--primary-color);
    backface-visibility: hidden;
    color: rgb(255, 255, 255);
    border: 2px solid #e7eaef;
    box-shadow: rgba(82, 82, 82, 0.4) 0px 2px 4px, rgba(83, 83, 83, 0.3) 0px 7px 13px -3px, rgba(99, 98, 98, 0.2) 0px -3px 0px inset;
}

.input::placeholder {
    color: #fff;
}

.input:hover,
.input:focus {
    border-color: #ebebec;
    color: var(--tertiary-color);
    background-color: rgba(179, 24, 91, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button:hover {
    background-color: #fefefe;
    font-size: 17px;
    color: #080808;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.error-password {
    position: fixed;
    top: 84px;
    color: red;
}

.error-email {
    position: fixed;
    top: 17px;
    color: red;
}

@media screen and (max-width: 1600px) {
    .login--header {
        height: 40%;
        border-radius: 400px;
        top: -230px;
        padding-bottom: 3%;
        font-size: 80px;
    }

    .login-form {
        margin-top: 35%;
        width: 40%;
    }
}

@media screen and (max-width: 845px) {
    .button {
        margin: 0px;
        padding: 0;
        height: 3%;
        width: 42%;
    }

    .login--header {
        height: 50%;
        border-radius: 400px;
        top: -280px;
        padding-bottom: 9%;
        font-size: 52px;
    }

    .login-form {
        margin-top: 70%;
        width: 65%;
    }

    .button {
        align-self: center;
        margin-top: 5%;
    }

    .input {
        margin-top: 15%;
    }

    .error-email {
        top: 11%;
        font-size: 12px;
    }

    .error-password {
        top: 40%;
        font-size: 12px;
    }
}