.products {
    display: flex;
    margin-top: 4%;
    width: 100%;
    flex-direction: column;
}

.products__img {
    width: 10%;
    /* height: 200px; */
}

.product-cart-image {
    width: 80px;
    align-self: center;
}


.product__img--detail {
    width: 500px;
}

.searchbar {
    align-self: center;
    margin-top: 0.7%;
    margin-bottom: 4%;
}

.cart-container a {
    align-self: center;
    width: 80px;
}

@media screen and (max-width: 845px) {
    .product__img--detail {
        width: 350px;
        margin-left: 0px;
    }

    .products {
        margin-top: 16%;
    }
}