.products {
    display: flex;
    margin-top: 6%;
    width: 100%;
    flex-direction: column;
}

.products__img {
    width: 186px;
}

.product-cart-image {
    width: 80px;
    align-self: center;
}


.product__img--detail {
    width: 500px;
}

.cart-container a {
    align-self: center;
    width: 80px;
}

.card-container {
    display: flex;
    width: 26%;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    z-index: 3;
}

.card-container div div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1600px) {
    .card-container {
        width: 20%;
        justify-content: center;
    }

}

@media screen and (max-width: 845px) {
    .product__img--detail {
        width: 350px;
        margin-left: 0px;
    }



    .products__img {
        width: 189px;
    }

    .products {
        margin-top: 16%;
    }

    .card-container {
        display: flex;
        width: 60%;
        justify-content: center;
    }
}