.users {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    margin-top: 5%;
}

.users--header {
    margin-top: 4rem;
}

.users__img {

    width: 12%;
    margin-bottom: 2%;
}

.users__li {
    list-style: none;
}

.users__li h3 {
    margin-bottom: 1rem;
}

.users__li p {
    margin-bottom: 3rem;
}

.users__button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.users__button a {
    color: white;
    font-weight: 500;
}

.users__button:hover {
    background-color: #fefefe;
    font-size: 17px;
    color: #080808;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 845px) {
    .users__img {
        margin-top: 30%;
        margin-bottom: 5%;
        width: 50%;
    }
}